:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtletext: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --ocean: #404bbf;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}
